.regio.sidebar .logo img {
  max-height: 4em;
}

.regio.sidebar .item-icon {
  float: left !important;
  margin: 0 0.75em 0 0 !important;
}

.regio.sidebar .parent-item-title {
  padding: 0.92857143em 1.14285714em !important;
}

.regio.sidebar .parent-item-content {
  margin-left: 1.75em !important;
}

.regio.sidebar .parent-item-dropdown-icon {
  float: right !important;
}
